<!DOCTYPE html>
<html>
<head>
    <title>Animals</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1>Animals and Their Keepers</h1>
    <table>
        <tr>
            <th>Animal Name</th>
            <th>Scientific Name</th>
            <th>Keeper First Name</th>
            <th>Keeper Last Name</th>
        </tr>
        <% animalsWithKeepers.forEach(animalWithKeeper => { %>
            <% if (animalWithKeeper.animal && animalWithKeeper.keeper) { %>
                <tr>
                    <td><%= animalWithKeeper.animal.name %></td>
                    <td><%= animalWithKeeper.animal.sci_Name %></td>
                    <td><%= animalWithKeeper.keeper.first %></td>
                    <td><%= animalWithKeeper.keeper.last %></td>
                </tr>
            <% } %>
        <% }); %>
    </table>

    <h2>Add a New Animal</h2>
    <form action="/animals" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>

        <label for="sci_Name">Scientific Name:</label>
        <input type="text" id="sci_Name" name="sci_Name"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>