<!DOCTYPE html>
<html>
<head>
    <title>Animals</title>
</head>
<body>
    <h1>List of Animals</h1>
    <ul>
        <% animals.forEach(function(animal) { %>
            <li><%= animal.name %> - <%= animal.sci_Name %> (<%= animal.country %>)</li>
        <% }); %>
    </ul>
</body>
</html>